h1 {color :blank
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.grid {background-color: blue;
display: flex;
justify-content: space-between;
}